/*
=================================================================
GITHUB REPO: https://github.com/danieljbell/client-theme--freeman
=================================================================
*/
#content_editor .freeman-bracket--second, .pdf-page-content .freeman-bracket--second { text-align: right; text-transform: uppercase; color: #0066B3; font-style: italic; font-size: 0.85em !important; }
#content_editor .freeman-bracket, .pdf-page-content .freeman-bracket { border-top: 1px solid #000; border-left: 4px solid #000; border-right: 1px solid #000; margin: 15px 0 40px; }
#content_editor .freeman-bracket .freeman-bracket--first, .pdf-page-content .freeman-bracket .freeman-bracket--first, #content_editor .freeman-bracket .freeman-bracket--second, .pdf-page-content .freeman-bracket .freeman-bracket--second { padding: 5px 10px 0 !important; }
#content_editor .freeman-bracket .freeman-bracket--first, .pdf-page-content .freeman-bracket .freeman-bracket--first { border-right: 1px solid #000; }
#content_editor .freeman-bracket .freeman-bracket--first img, .pdf-page-content .freeman-bracket .freeman-bracket--first img { max-width: 100px; }
#content_editor .freeman-bracket--white, .pdf-page-content .freeman-bracket--white { border-top: 1px solid #fff; border-left: 4px solid #fff; border-right: 1px solid #fff; margin: 15px 0 40px; }
#content_editor .freeman-bracket--white .freeman-bracket--first, .pdf-page-content .freeman-bracket--white .freeman-bracket--first, #content_editor .freeman-bracket--white .freeman-bracket--second, .pdf-page-content .freeman-bracket--white .freeman-bracket--second { padding: 5px 10px 0 !important; }
#content_editor .freeman-bracket--white .freeman-bracket--first, .pdf-page-content .freeman-bracket--white .freeman-bracket--first { border-right: 1px solid #fff; }
#content_editor .freeman-bracket--white .freeman-bracket--first img, .pdf-page-content .freeman-bracket--white .freeman-bracket--first img { max-width: 100px; }
.freeman--full-bg { position: relative; top: -20px; left: -30px; margin-bottom: -20px; width: calc(100% + 60px); padding: 20px 30px; }
#content_editor .freeman-cover-letter--signature-block, .pdf-page-content .freeman-cover-letter--signature-block { text-align: right; }
#content_editor .freeman-cover-letter--signature-block .grid, .pdf-page-content .freeman-cover-letter--signature-block .grid { text-align: left; }
#content_editor .freeman-cover-letter--name, .pdf-page-content .freeman-cover-letter--name, #content_editor .freeman-cover-letter--title, .pdf-page-content .freeman-cover-letter--title { margin-bottom: 0; font-size: 0.9em !important; }
#content_editor .freeman-cover-letter--title, .pdf-page-content .freeman-cover-letter--title { font-style: italic; }
.freeman-page--dark-cover-page { background-image: url(/img/dark-cover-page-bg.png); background-size: cover; background-position: center center; padding-bottom: 350px; position: relative; z-index: 1; }
.freeman-page--dark-cover-page:after { content: ''; position: absolute; z-index: -1; top: 0; left: 0; right: 0; height: 400px; background-color: #000; opacity: 0.5; }
.freeman-page--brand-cover-page { background-image: url(/img/brand-cover-page-bg.png); background-size: cover; background-position: center center; padding-bottom: 350px; position: relative; z-index: 1; }
.freeman-page--brand-cover-page:after { content: ''; position: absolute; z-index: -1; top: 0; left: 0; right: 0; height: 400px; background-color: #0066B3; opacity: 0.5; }
.freeman-page--brand-cover-page:after { opacity: 0.8; }
#content_editor .freeman-page-cover-page--logo-container, .pdf-page-content .freeman-page-cover-page--logo-container { padding: 20px 30px !important; }
#content_editor .freeman-page-cover-page--content-container, .pdf-page-content .freeman-page-cover-page--content-container { border-left: 1px solid rgba(255, 255, 255, 0.5); padding: 20px 40px 0 !important; }
#content_editor .freeman-page-cover-page--content-container *, .pdf-page-content .freeman-page-cover-page--content-container * { color: #fff !important; }
#content_editor .freeman-page-cover-page--date, .pdf-page-content .freeman-page-cover-page--date { margin-top: 150px; }
.freeman-page--quote-bg { background-size: cover; background-position: center; min-height: 500px; display: table; }
#content_editor .freeman-page--quote-bg h1, .pdf-page-content .freeman-page--quote-bg h1 { display: table-cell; vertical-align: middle; font-size: 42px; line-height: 50px; margin: 0 !important; color: #fff; font-style: italic; font-weight: normal; }
#content_editor .freeman-page--quote-bg h1 span, .pdf-page-content .freeman-page--quote-bg h1 span { display: block; width: 65%; }
#content_editor .freeman-page--table-of-contents, .pdf-page-content .freeman-page--table-of-contents { background-image: url("../img/rocket.png"); background-repeat: no-repeat; background-size: 275px; background-position: -35px 150px; }
#content_editor .freeman-table-of-contents--heading, .pdf-page-content .freeman-table-of-contents--heading { font-weight: normal; color: #0066B3; font-style: italic; font-size: 36px; }
.freeman-table-of-contents--list { counter-reset: toc-items; }
.freeman-table-of-contents--item { list-style-type: none; position: relative; counter-increment: toc-items; }
#content_editor .freeman-table-of-contents--item, .pdf-page-content .freeman-table-of-contents--item { color: #0066B3; font-style: italic; margin-bottom: 15px; font-size: 20px; }
.freeman-table-of-contents--item:before { content: counter(toc-items) "."; position: absolute; left: -20px; top: -5px; font-size: 24px; color: #000; }
#content_editor .freeman-table-of-contents--item span, .pdf-page-content .freeman-table-of-contents--item span { float: right; }
.freeman-has-text-white { color: #fff !important; }
.freeman-has-text-brand { color: #0066B3 !important; }
.freeman-has-text-brand-two { color: #0066B3 !important; }
.freeman-pad-y { padding-top: 30px !important; padding-bottom: 30px !important; }
.freeman-pad-y-more { padding-top: 60px !important; padding-bottom: 60px !important; }
.freeman-pad-t { padding-top: 30px !important; }
.freeman-pad-t-more { padding-top: 60px !important; }
.freeman-pad-b { padding-bottom: 30px !important; }
.freeman-pad-b-more { padding-bottom: 60px !important; }
.freeman-pad-x { padding-left: 30px !important; padding-right: 30px !important; }
.freeman-pad-x-more { padding-left: 60px !important; padding-right: 60px !important; }
.freeman-pad-l { padding-left: 30px !important; }
.freeman-pad-l-more { padding-left: 60px !important; }
.freeman-pad-r { padding-right: 30px !important; }
.freeman-pad-r-more { padding-right: 60px !important; }
.freeman-mar-y { margin-top: 30px !important; margin-bottom: 30px !important; }
.freeman-mar-y-more { margin-top: 60px !important; margin-bottom: 60px !important; }
.freeman-mar-t { margin-top: 30px !important; }
.freeman-mar-t-more { margin-top: 60px !important; }
.freeman-mar-b { margin-bottom: 30px !important; }
.freeman-mar-b-more { margin-bottom: 60px !important; }
.freeman-mar-b-neg { margin-bottom: -30px !important; }
.freeman-mar-x { margin-left: 30px !important; margin-right: 30px !important; }
.freeman-mar-x-more { margin-left: 60px !important; margin-right: 60px !important; }
.freeman-mar-l { margin-left: 30px !important; }
.freeman-mar-l-more { margin-left: 60px !important; }
.freeman-mar-r { margin-right: 30px !important; }
.freeman-mar-r-more { margin-right: 60px !important; }
.freeman-b-a { border: 1px solid #fff; }
@media screen and (max-width: 568px) { .freeman-mar-x { margin-left: 0px !important; margin-right: 0px !important; } }

/*# sourceMappingURL=client-theme.css.map */
