@mixin bracket($border-color) {

  #content_editor &,
  .pdf-page-content & {
    position: relative;
    z-index: 100;
    border-top: 1px solid $border-color;
    border-left: 4px solid $border-color;
    border-right: 1px solid $border-color;
    margin: 15px 0 40px;
  }

  .freeman-bracket--first,
  .freeman-bracket--second {
    #content_editor &,
    .pdf-page-content & {
      padding: 5px 10px 0 !important;
    }
  }

  .freeman-bracket--first {
    #content_editor &,
    .pdf-page-content & {
      // width: 25%;
      // min-width: 150px;
      border-right: 1px solid $border-color;
      img {
        max-width: 100px !important;
      }
    }
  }

}

.freeman-bracket--second {
  #content_editor &,
  .pdf-page-content & {
    text-align: right;
    text-transform: uppercase;
    color: $brand;
    font-style: italic;
    font-size: 0.85em !important;
  }
}

.freeman-bracket {
  @include bracket($base-text-color);
}

.freeman-bracket--white {
  @include bracket(#fff);
}