

.freeman-branch-profile {
  #content_editor &,
  .pdf-page-content & {
    padding-left: 20px !important;
    * {
      color: #fff;
    }
    hr {
      background-color: transparent;
      border: 0;
      border-top: 1px solid #fff;
      margin: 18px 0;
    }
  }
}