.freeman-cover-letter--signature-block {
  #content_editor &,
  .pdf-page-content & {
    text-align: right;
    .grid {
      text-align: left;
    }
    img {
      max-width: 350px !important;
      @include print {
        max-width: 3in !important;
      }
    }
  }
}

.freeman-cover-letter--name,
.freeman-cover-letter--title {
  #content_editor &,
  .pdf-page-content & {
    margin-bottom: 0;
    font-size: 0.9em !important;
  }
}

.freeman-cover-letter--title {
  #content_editor &,
  .pdf-page-content & {
    font-style: italic;
  }
}