.freeman-page--logo-page {
  min-height: 500px;
  width: calc(100% + 60px);
  position: relative;
  > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}