.freeman-page--table-of-contents {
  #content_editor &,
  .pdf-page-content & {
    background-image: url('https://mytinder.s3.amazonaws.com/assets/medias/681124_original.png?1534904538');
    background-repeat: no-repeat;
    background-size: 275px;
    background-position: -35px 150%;
    min-height: 400px;
  }
}

.freeman-table-of-contents--heading {
  
  #content_editor &,
  .pdf-page-content & {
    font-weight: normal;
    color: $brand;
    font-style: italic;
    font-size: 36px;
  }  

}

.freeman-table-of-contents--list {
  counter-reset: toc-items;
}

.freeman-table-of-contents--item {
  list-style-type: none;
  position: relative;
  counter-increment: toc-items;

  #content_editor &,
  .pdf-page-content & {
    color: $brand;
    font-style: italic;
    margin-bottom: 15px;
    font-size: 20px;
  }

  &:before {
    content: counter(toc-items)'.';
    position: absolute;
    left: -27px;
    top: 0px;
    font-size: 24px;
    color: #000;
  }
  
  span {
    #content_editor &,
    .pdf-page-content & {
      float: right;
    }
  }

}

.freeman-page--what-you-can-expect .freeman-full-bleed .freeman-has-text-center p {
  #content_editor &,
  .pdf-page-content & {
    font-size: 0.85em;
    font-style: italic;
  }
}

.freeman-page--what-you-can-expect .freeman-full-bleed .freeman-has-text-center img {
  max-width: 100px;
  max-height: 100px;
}

.table-of-contents {
  @include print {
    position: relative;
    left: -1in;
    top: -1in;
    width: 8.5in;
    min-height: 11in;
    background-image: url('https://mytinder.s3.amazonaws.com/assets/medias/681414_original.jpg?1534994480');
    background-position: bottom left;
    background-size: 8.5in;
    background-repeat: no-repeat;
    padding: 1.5in 1in 1in;
    
    h1 {
      color: #fff;
      position: relative;
      &:before {
        position: absolute;
        top: 0.5in;
        left: 0;
        content: 'contents';
        color: $brand;
        font-size: 1.35em;
        font-style: italic;
      }
    }

    > ul {
      counter-reset: print-toc-items;
      max-width: 4.25in;
      margin-left: auto;;

      li {
        counter-increment: print-toc-items;
        font-size: 1.1em;
        margin-bottom: 0.125in;
        &:before {
          content: counter(print-toc-items)'.';
        }
        ul {
          display: none;
        }
      }

    }

  }
}