.freeman-page--table-of-contents {
  #content_editor &,
  .pdf-page-content & {
    background-image: url('https://mytinder.s3.amazonaws.com/assets/medias/681124_original.png?1534904538');
    background-repeat: no-repeat;
    background-size: 275px;
    background-position: -35px 150%;
    min-height: 400px;
  }
}

.freeman-table-of-contents--heading {
  
  #content_editor &,
  .pdf-page-content & {
    font-weight: normal;
    color: $brand;
    font-style: italic;
    font-size: 36px;
  }  

}

.freeman-table-of-contents--list {
  counter-reset: toc-items;
}

.freeman-table-of-contents--item {
  list-style-type: none;
  position: relative;
  counter-increment: toc-items;

  #content_editor &,
  .pdf-page-content & {
    color: $brand;
    font-style: italic;
    margin-bottom: 15px;
    font-size: 20px;
  }

  &:before {
    content: counter(toc-items)'.';
    position: absolute;
    left: -27px;
    top: 0px;
    font-size: 24px;
    color: #000;
  }
  
  span {
    #content_editor &,
    .pdf-page-content & {
      float: right;
    }
  }

}

.freeman-page--what-you-can-expect .freeman-full-bleed .freeman-has-text-center p {
  #content_editor &,
  .pdf-page-content & {
    font-size: 0.85em;
    font-style: italic;
  }
}

.freeman-page--what-you-can-expect .freeman-full-bleed .freeman-has-text-center img {
  max-width: 100px;
  max-height: 100px;
}